*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* General styles */
.navbar {
    background-color: #222222;
}
.navbar-toggler {
    border: none;
    padding: 0;
}
.navbar-toggler:focus {
    outline: none;
}
.navbar-brand {
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-dark .nav-item.nav-link {
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-brand:focus, .navbar-brand:hover, .navbar-dark .nav-item.nav-link:focus, .navbar-dark .nav-item.nav-link:hover {
    color: #f9f9f9;
    opacity: 0.75;
    }
.featureCard {
    background-color: #222222;
    border: none;
}
.featureColour {
    background-color: #43a047;
    color: #f9f9f9;
}
.featureColour:focus,
.featureColour:hover {
    color: #f9f9f9;
    opacity: 0.90;
}
.footer {
    line-height: 5rem;
    font-size: 1rem;
}